<header>
    <div class="header-content">
        <section class="header-row">
            <form method="GET" action="/search"> 
                <input type="text" name="query" placeholder="Zoek een product op...">
                <input type="submit" value="">
            </form>
            <a href="/scanner">Scannen</a>
        </section>
    </div>
</header>