<header>
    <div class="header-content">
        <form>
            <input type="text" id="search" name="search" placeholder="Zoek een product op...">
            <input type="submit" value="">
        </form>
        <div class="row">
            <p class="results"></p>
            <button class="scanner">Scannen</button>
        </div>
        <section class="pagination">
            <button id="previous" class="page"><</button>
            <button id="next" class="page">></button>
        </section>
    </div>
</header>